


/* ---------------- NAVBAR ------------------ */

.Nav{
    background-color: var(--Primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--Black);
    padding: 0px 30px;
    font-family: var(--Font);
    height: 6vh;
}
.Nav-Title{
    cursor: pointer;
}
.Nav-Elements{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav-Elements a{
    padding: 0px 10px;
    color: var(--Black);
    font-family: var(--Font);
    text-decoration: none;
    cursor: pointer;
}
.Nav-Elements a:hover{
    color: var(--Minimal);
}
.Nav-Login a{
    background-color: var(--Secondary);
    text-decoration: none;
    color: var(--White);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.Nav-Event-But{
    position: relative;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav-Event-Drop{
    position: absolute;
    top:4vh;
    right:0;
    left: 0;
    background-color: var(--Secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 130px;
    border-radius: 5px;
    z-index: 10;
}
.Menu-Link{
    width: 100%;
    text-align: center;
}
#composition-button{
    padding: 10px;
}
.Nav-Event-Drop a{
    text-decoration: none;
    color: var(--White);
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    border-radius:5px;
}
.Nav-Event-Drop a:hover{
    background-color: var(--Primary);
}

/* ---------------- FOOTER ---------------------- */

.Footer-Text p{
    color: var(--Black);
    font:var(--Font);
}
.Footer-Text{
    background-color: var(--Primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
}